@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  @include fluid("min-height", 192px, 336px, $min-mobile, $desktop);
  @include fluid("padding", 16px, 40px, $min-mobile, $desktop);
  
  background: $gradient-neon-glow-v2;
  border-radius: 8px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  
  &:hover {
    transform: translateY(-4px);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  @include fluid("gap", 16px, 40px, $min-mobile, $desktop);
}